<!DOCTYPE html>
<html>
<title>Interview Room</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Avenir">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Avenir", sans-serif;
  }

  body,
  html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }

  .fix-middle {
    padding-top: 50px;
    padding-bottom: 15px;
  }

  .full-height {
    height: 100%;
  }

  .results {
    color: green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  video {
    margin-top: 2px;
    border: 1px solid black;
  }
</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
        onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="./" class="w3-bar-item w3-button">HOME</a>
      <a href=about class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
      <a href=contact class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="./" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
      <a href=about class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
      <a href=contact class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    </div>
  </div>


  <!-- Pricing Section -->
  <div class="w3-padding-64 w3-center w3-white full-height">
    <h1 class="w3-xlarger"><b>Welcome to the Room</b></h1>
    <p class="w3-medium">INSERT QUESTION HERE</p>
    <div class="w3-row-padding" style="margin-top:15px">
      <div id="startButton" class="button">
        Start
      </div>
      <video id="preview" width="160" height="120" autoplay muted></video>
      <div id="stopButton" class="button">
        Stop
      </div>
      <div onclick="senddata(content)" class="button">
        Next Question
      </div>
      <video id="recording" width="160" height="120" controls></video>
      <button class="results"><a href=results class="w3-bar-item w3-button w3-hide-small">View Results</a></button>
      <a id="downloadButton" class="button" style=" display:none;">
        Download
      </a>
    </div>
    <div class="bottom">
      <pre id="log"></pre>
    </div>
  </div>



  <script>
    /*********************************
    Script to record video 
    *********************************/
    let preview = document.getElementById("preview");
    let recording = document.getElementById("recording");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let downloadButton = document.getElementById("downloadButton");
    let logElement = document.getElementById("log");

    let recordingTimeMS = 5000;

    function log(msg) {
      logElement.innerHTML += msg + "\n";
    }

    function wait(delayInMS) {
      return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    function startRecording(stream, lengthInMS) {
      let recorder = new MediaRecorder(stream);
      let data = [];

      recorder.ondataavailable = event => data.push(event.data);
      recorder.start();

      let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
      })


      return Promise.all([
        stopped
      ])
        .then(() => data);
    }

    function stop(stream) {
      stream.getTracks().forEach(track => track.stop());
    }


    startButton.addEventListener("click", function () {
      navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true
      }).then(stream => {
        preview.srcObject = stream;
        downloadButton.href = stream;
        preview.captureStream = preview.captureStream || preview.mozCaptureStream;
        return new Promise(resolve => preview.onplaying = resolve);
      }).then(() => startRecording(preview.captureStream(), recordingTimeMS))
        .then(recordedChunks => {
          let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
          recording.src = URL.createObjectURL(recordedBlob);
          downloadButton.href = recording.src;
          downloadButton.download = "RecordedVideo.webm";


        })
        .catch(log);
    }, false);

    stopButton.addEventListener("click", function () {
      stop(preview.srcObject);
    }, false);

    /*********************************
        Send post request  
    *********************************/
    function postFile(content) {
        var val = content;

        fetch('/recievetext', {

            // Declare what type of data we're sending
            headers: {
                'Content-Type': 'application/json'
            },

            // Specify the method
            method: 'POST',

            // A JSON payload
            body: JSON.stringify({ "text": val })
        })
            .then(function (response) {
                return response.text();
            })
            .then(function (text) {

                console.log("data was sent");
            });
    }
    /*********************************
        Speech recognition
    *********************************/

    var speechRecognition = window.webkitSpeechRecognition

    var recognition = new speechRecognition()

    var content = ''

    recognition.continuous = true

    recognition.onresult = function (event) {
      var current = event.resultIndex;

      var transcript = event.results[current][0].transcript

      content += transcript

    }

    function senddata(content) {
      postFile(content)
      content = ''
    }

    function startrec() {
      if (content.length) {
        content += ''
      }

      recognition.start()
    }

    startButton.addEventListener("click", startrec);
    
    /*********************************
    getUserMedia returns a Promise
    resolve - returns a MediaStream Object
    reject returns one of the following errors
    AbortError - generic unknown cause
    NotAllowedError (SecurityError) - user rejected permissions
    NotFoundError - missing media track
    NotReadableError - user permissions given but hardware/OS error
    OverconstrainedError - constraint video settings preventing
    TypeError - audio: false, video: false
    *********************************/
  </script>

  <!-- Footer -->
  <footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by iPrep&trade; &reg;</p>
  </footer>

</body>

</html>